@model IEnumerable<iMarket.Models.Produto>

@{
    ViewData["Title"] = "Index";
}

<style>
    .produtoCard {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: white;
        transition-duration: 0.2s;
        margin: auto;
    }
        .produtoCard:hover {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 10px;
            background-color: #808080;
            transition-duration: 0.2s;
            margin: auto;
        }

</style>

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
        <div class="container">

@foreach (var item in Model) {

            <div class="col-md-3 produtoCard">

            <img src="@Html.DisplayFor(modelItem => item.Imagem)" style="width: 100%;padding:5px 5px;" alt="Imagem de @Html.DisplayFor(modelItem => item.Nome)" />
                    
            <h2>@Html.DisplayFor(modelItem => item.Nome)</h2>
            @Html.DisplayFor(modelItem => item.Marca)
            @Html.DisplayFor(modelItem => item.Preco)
            @Html.DisplayFor(modelItem => item.Desconto)

            @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </div>
            }
    </div>
