@model IEnumerable<iMarket.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<form>

    <button class="btn btn-success" asp-action="CreateCliente">
        <span class="glyphicon glyphicon-user"></span>
        Adicionar cliente
    </button>
    <button class="btn btn-success" asp-action="CreateFornecedor">
        <span class="glyphicon glyphicon-lock"></span>
        Adicionar fornecedor
    </button>
    <button class="btn btn-success" asp-action="CreateAdmin">
        <span class="glyphicon glyphicon-king"></span>
        Adicionar administrador
    </button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Saldo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NivelAcesso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saldo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NivelAcesso)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
